@model Registar.Models.Policajac

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Policajac</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PolicajacIme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicajacIme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PolicajacPrezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicajacPrezime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PolicajacID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
